Merging jan data

In [13]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Jan-Sep).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_jan_sep.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID        Designation  \
0  18-01-2024 00:00   Alexander Cole        2080          Associate
1  15-01-2024 00:00   Miles Martinez        2017  Software Engineer
2  16-01-2024 00:00  Felicity Taylor        2078         Associate
3  19-01-2024 00:00  Savannah Taylor        1870    Engagement Lead
4  17-01-2024 00:00     Mabel Gibson        2008  Software Engineer

  Project Name            Email address  Total Persons  Allowable Amount  \
0          NaN   Alexander.Cole@xyz.com              1               400
1    Greenmath   Miles.Martinez@xyz.com             19              7600
2          GPC  Felicity.Taylor@xyz.com              1               400
3  edgeCore.ai  Savannah.Taylor@xyz.com             10              4000
4    greenMath     Mabel.Gibson@xyz.com              4              1600

   Total Bill Amount                          List of Persons (as JSON)  \
0                321  [{"employee_code": "2080", "name": "Alexander ...
1               7647  [{"employee_code": "2005", "name": "Zoe Sulliv...
2                380  [{"employee_code": "2078", "name": "Felicity T...
3               3941  [{"employee_code": "1870", "name": "Savannah T...
4               1700  [{"employee_code": "2008", "name": "Mabel Gibs...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-01-03", "Bill_No": "01_12...  Workafella, Chennai
1  [{"Bill_Date": "2024-01-02", "Bill_No": "01_37...            Bangalore
2  [{"Bill_Date": "2024-01-03", "Bill_No": "01_16...  Workafella, Chennai
3  [{"Bill_Date": "2024-01-17", "Bill_No": "01_14...  Workafella, Chennai
4  [{"Bill_Date": "2024-01-06", "Bill_No": "01_55...  Workafella, Chennai
Number of matched Employee IDs: 653

In [15]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Oct).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_oct.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID            Designation  \
0  21-10-2024 00:00       Abel Lopez        1959         People Partner
1  21-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
2  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
3  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
4  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist

  Project Name            Email address  Total Persons  Allowable Amount  \
0           HR       Abel.Lopez@xyz.com              2               800
1  edgeCore.ai  Savannah.Taylor@xyz.com              6              2400
2  edgeCore.ai  Savannah.Taylor@xyz.com              2               800
3  edgeCore.ai  Savannah.Taylor@xyz.com              2               800
4  edgeCore.ai  Savannah.Taylor@xyz.com              2               800

   Total Bill Amount                          List of Persons (as JSON)  \
0              777.0  [{"employee_code": "1959", "name": "Abel Lopez...
1             2588.0  [{"employee_code": "1870", "name": "Savannah T...
2              882.0  [{"employee_code": "1870", "name": "Savannah T...
3              882.0  [{"employee_code": "1870", "name": "Savannah T...
4              882.0  [{"employee_code": "1870", "name": "Savannah T...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-10-10 00:00:00", "Bill_No...  Workafella, Chennai
1  [{"Bill_Date": "2024-10-18 00:00:00", "Bill_No...  Workafella, Chennai
2  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
3  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
4  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
Number of matched Employee IDs: 39

In [19]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Nov).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_nov.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID      Designation  \
0  21-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
1  21-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
2  30-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
3  30-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
4        20-11-2024       Nia Thomas        2068    Data Engineer

         Project Name            Email address  Total Persons  \
0         edgeCore.ai  Savannah.Taylor@xyz.com              3
1         edgeCore.ai  Savannah.Taylor@xyz.com              3
2  edgeCore.ai / Bose  Savannah.Taylor@xyz.com              8
3  edgeCore.ai / Bose  Savannah.Taylor@xyz.com              8
4                   -       Nia.Thomas@xyz.com              5

   Allowable Amount Total Bill Amount  \
0              1200              2153
1              1200              2153
2              3200              6033
3              3200              6033
4              2000              2160

                           List of Persons (as JSON)  \
0  [{"employee_code": "1870", "name": "Savannah T...
1  [{"employee_code": "1870", "name": "Savannah T...
2  [{"employee_code": "1870", "name": "Savannah T...
3  [{"employee_code": "1870", "name": "Savannah T...
4  [{"employee_code": "2068", "name": "Nia Thomas...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-11-01 00:00:00", "Bill_No...  Workafella, Chennai
1  [{"Bill_Date": "2024-11-01 00:00:00", "Bill_No...  Workafella, Chennai
2  [{"Bill_Date": "2024-11-22 00:00:00", "Bill_No...  Workafella, Chennai
3  [{"Bill_Date": "2024-11-22 00:00:00", "Bill_No...  Workafella, Chennai
4  [{"Bill_Date": "15-11-2024", "Bill_No": 746142...  Workafella, Chennai
Number of matched Employee IDs: 56

In [18]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Dec).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_dec.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID      Designation  \
0  03-01-2025 00:00       Luca Allen        1957              STL
1  03-01-2025 00:00       Luca Allen        1957              STL
2  03-01-2025 00:00       Luca Allen        1957              STL
3  03-01-2025 00:00       Luca Allen        1957              STL
4  30-12-2024 00:00  Savannah Taylor        1870  Engagement Lead

          Project Name            Email address  Total Persons  \
0  edgeCore, GreenMath       Luca.Allen@xyz.com             10
1  edgeCore, GreenMath       Luca.Allen@xyz.com             10
2  edgeCore, GreenMath       Luca.Allen@xyz.com             10
3  edgeCore, GreenMath       Luca.Allen@xyz.com             10
4          edgeCore.ai  Savannah.Taylor@xyz.com             11

   Allowable Amount  Total Bill Amount  \
0              4000             4863.0
1              4000             4863.0
2              4000             4863.0
3              4000             4863.0
4              4400             5506.0

                           List of Persons (as JSON)  \
0  [{"employee_code": "1957", "name": "Luca Allen...
1  [{"employee_code": "1957", "name": "Luca Allen...
2  [{"employee_code": "1957", "name": "Luca Allen...
3  [{"employee_code": "1957", "name": "Luca Allen...
4  [{"employee_code": "1870", "name": "Savannah T...

                                                Bill     Seating Location
0  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
1  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
2  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
3  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
4  [{"Bill_Date": "2024-12-27 00:00:00", "Bill_No...  Workafella, Chennai
Number of matched Employee IDs: 38

Combine all the merged datasets

In [20]:
import pandas as pd

# Load your datasets for each month
df_jan = pd.read_csv("merged_data_jan_sep.csv")  # January data
df_oct = pd.read_csv("merged_data_oct.csv")  # October data
df_nov = pd.read_csv("merged_data_nov.csv")  # November data
df_dec = pd.read_csv("merged_data_dec.csv")  # December data

# List all datasets to combine
dfs = [df_jan, df_oct, df_nov, df_dec]

# Concatenate datasets vertically (row-wise)
df_combined = pd.concat(dfs, ignore_index=True)

# Save the combined dataset
df_combined.to_csv("Reimbursement_combined.csv", index=False)

# Display the combined dataset (for verification)
print(df_combined.head())

         Claim Date    Employee Name  Employee ID        Designation  \
0  18-01-2024 00:00   Alexander Cole         2080          Associate
1  15-01-2024 00:00   Miles Martinez         2017  Software Engineer
2  16-01-2024 00:00  Felicity Taylor         2078         Associate
3  19-01-2024 00:00  Savannah Taylor         1870    Engagement Lead
4  17-01-2024 00:00     Mabel Gibson         2008  Software Engineer

  Project Name            Email address  Total Persons  Allowable Amount  \
0          NaN   Alexander.Cole@xyz.com              1               400
1    Greenmath   Miles.Martinez@xyz.com             19              7600
2          GPC  Felicity.Taylor@xyz.com              1               400
3  edgeCore.ai  Savannah.Taylor@xyz.com             10              4000
4    greenMath     Mabel.Gibson@xyz.com              4              1600

  Total Bill Amount                          List of Persons (as JSON)  \
0               321  [{"employee_code": "2080", "name": "Alexander ...
1              7647  [{"employee_code": "2005", "name": "Zoe Sulliv...
2               380  [{"employee_code": "2078", "name": "Felicity T...
3              3941  [{"employee_code": "1870", "name": "Savannah T...
4              1700  [{"employee_code": "2008", "name": "Mabel Gibs...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-01-03", "Bill_No": "01_12...  Workafella, Chennai
1  [{"Bill_Date": "2024-01-02", "Bill_No": "01_37...            Bangalore
2  [{"Bill_Date": "2024-01-03", "Bill_No": "01_16...  Workafella, Chennai
3  [{"Bill_Date": "2024-01-17", "Bill_No": "01_14...  Workafella, Chennai
4  [{"Bill_Date": "2024-01-06", "Bill_No": "01_55...  Workafella, Chennai

Extracted the Json values in the Bill column based on the keys

In [3]:
import pandas as pd
import json

# Load CSV file
df = pd.read_csv("Reimbursement_combined.csv")  # Replace with your actual filename


# Convert 'Bill' column from string to a list of dictionaries
df["Bill"] = df["Bill"].apply(lambda x: json.loads(x)[0])  # Extract first dictionary

# Expand JSON columns
df_expanded = df["Bill"].apply(pd.Series)

# Merge with original data (if needed) and remove the original 'Bill' column
df_final = df.drop(columns=["Bill"]).join(df_expanded)

# Save to a new CSV file
df_final.to_csv("transformed_Bill.csv", index=False)

print("File saved as transformed_Bill.csv")

File saved as transformed_Bill.csv

Seating location

In [10]:
df = pd.read_csv("transformed_Bill.csv")
df['Seating Location'] = df['Seating Location'].replace('Workafella, Chennai', 'Chennai')
df['Seating Location'] = df['Seating Location'].replace('Bhive, Bangalore', 'Bangalore')
df.to_csv("transformed_Bill.csv", index=False)

In [ ]:
import pandas as pd
import json

# Load the CSV file
file_path = "transformed_Bill.csv"  # Update with your actual file path
df = pd.read_csv(file_path)

# Assuming the JSON is inside a column named 'persons_data'
json_column = "List of Persons (as JSON)"  # Replace with the actual column name

# Function to extract employee_code and name from JSON column
def extract_employee_details(json_str):
    try:
        # Parse JSON string into a Python list of dictionaries
        employees = json.loads(json_str.replace("'", "\""))  # Handle single quotes if needed
        
        # Extract employee_code and name from each dictionary
        return [(emp.get("employee_code", None), emp.get("name", None)) for emp in employees]
    
    except Exception as e:
        print(f"Error parsing JSON: {e}")
        return []  # Return empty list if JSON parsing fails

# Apply function and explode to create individual rows
df["employee_details"] = df[json_column].apply(extract_employee_details)
df = df.explode("employee_details")

# Convert tuple columns into separate columns
df[["employee_code", "name"]] = pd.DataFrame(df["employee_details"].tolist(), index=df.index)

# Drop unnecessary columns
df = df.drop(columns=["employee_details", json_column])

# Count valid values
valid_employee_code = df["employee_code"].notna().sum()
valid_name = df["name"].notna().sum()

print(f"Total Entries: {len(df)}")
print(f"Valid Employee Codes: {valid_employee_code}")
print(f"Valid Names: {valid_name}")

# Count unique employees
unique_employees = df.dropna(subset=["employee_code", "name"]).drop_duplicates(subset=["employee_code", "name"])
print(f"Total Unique Employees: {len(unique_employees)}")

# Save to CSV (optional)
df.to_csv("processed_employees.csv", index=False)

         Claim Date    Employee Name  Employee ID        Designation  \
0  18-01-2024 00:00   Alexander Cole         2080          Associate
1  15-01-2024 00:00   Miles Martinez         2017  Software Engineer
2  16-01-2024 00:00  Felicity Taylor         2078         Associate
3  19-01-2024 00:00  Savannah Taylor         1870    Engagement Lead
4  17-01-2024 00:00     Mabel Gibson         2008  Software Engineer

  Project Name            Email address  Total Persons  Allowable Amount  \
0          NaN   Alexander.Cole@xyz.com              1               400
1    Greenmath   Miles.Martinez@xyz.com             19              7600
2          GPC  Felicity.Taylor@xyz.com              1               400
3  edgeCore.ai  Savannah.Taylor@xyz.com             10              4000
4    greenMath     Mabel.Gibson@xyz.com              4              1600

  Total Bill Amount                          List of Persons (as JSON)  \
0               321  [{"employee_code": "2080", "name": "Alexander ...
1              7647  [{"employee_code": "2005", "name": "Zoe Sulliv...
2               380  [{"employee_code": "2078", "name": "Felicity T...
3              3941  [{"employee_code": "1870", "name": "Savannah T...
4              1700  [{"employee_code": "2008", "name": "Mabel Gibs...

  Seating Location   Bill_Date Bill_No Total_Price
0          Chennai  2024-01-03  01_124         321
1        Bangalore  2024-01-02   01_37        7647
2          Chennai  2024-01-03  01_163         380
3          Chennai  2024-01-17  01_142        3941
4          Chennai  2024-01-06   01_55        1700
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Error parsing JSON: 'float' object has no attribute 'replace'
Total Entries: 13555
Valid Employee Codes: 4879
Valid Names: 13073
Total Unique Employees: 93

In [2]:
import pandas as pd
import json
# Load the CSV file
file_path = "transformed_Bill.csv"  # Update with your actual file path
df = pd.read_csv(file_path)

# Group by employee_id and check unique combinations of (name, designation)
duplicates = df.groupby("Employee ID")[["Employee Name", "Designation"]].nunique()

# Identify Employee IDs where either Name or Designation is inconsistent
inconsistent_ids = duplicates[(duplicates["Employee Name"] > 1) | (duplicates["Designation"] > 1)].index

# Extract rows with inconsistencies
inconsistent_rows = df[df["Employee ID"].isin(inconsistent_ids)]

# Display results
if inconsistent_rows.empty:
    print("✅ All Employee IDs consistently match the same Employee Name and Designation.")
else:
    print("⚠️ Inconsistencies found! The following Employee IDs have multiple names or designations:")
    print(inconsistent_rows)

⚠️ Inconsistencies found! The following Employee IDs have multiple names or designations:
            Claim Date    Employee Name  Employee ID            Designation  \
3      19 January 2024  Savannah Taylor       1870.0        Engagement Lead
8      28 January 2024  Savannah Taylor       1870.0  Senior Data Scientist
11     25 January 2024  Savannah Taylor       1870.0  Senior Data Scientist
12     26 January 2024   Felicity Craig          0.0                 intern
13     26 January 2024   Felicity Craig          0.0                 intern
...                ...              ...          ...                    ...
1166  20 December 2024      Miles Lynch          0.0                 Intern
1167  20 December 2024      Miles Lynch          0.0                 Intern
1185  28 December 2024   Vivian Johnson       2029.0   Senior Data Engineer
1186  28 December 2024   Vivian Johnson       2029.0   Senior Data Engineer
1187  24 December 2024   Vivian Johnson       2029.0          Data Engineer

                Project Name            Email address  Total Persons  \
3                edgeCore.ai  Savannah.Taylor@xyz.com           10.0
8                edgeCore.ai  Savannah.Taylor@xyz.com            2.0
11               edgeCore.ai  Savannah.Taylor@xyz.com            6.0
12                        o9   Felicity.Craig@xyz.com            1.0
13                        o9   Felicity.Craig@xyz.com            1.0
...                      ...                      ...            ...
1166                 Traning      Miles.Lynch@xyz.com            2.0
1167                 Traning      Miles.Lynch@xyz.com            2.0
1185                      o9   Vivian.Johnson@xyz.com            7.0
1186                      o9   Vivian.Johnson@xyz.com            7.0
1187  o9 -  TMobile Resilinc   Vivian.Johnson@xyz.com            1.0

      Allowable Amount Total Bill Amount  \
3               4000.0              3941
8                800.0               896
11              2400.0              2392
12               400.0               379
13               400.0               379
...                ...               ...
1166             800.0              1021
1167             800.0              1021
1185            2800.0              3638
1186            2800.0              3638
1187             400.0               409

                              List of Persons (as JSON) Seating Location  \
3     [{"employee_code": "1870", "name": "Savannah T...          Chennai
8     [{"employee_code": "1870", "name": "Savannah T...          Chennai
11    [{"employee_code": "1870", "name": "Savannah T...          Chennai
12    [{"employee_code": NaN, "name": "Autumn Hughes...              NaN
13    [{"employee_code": NaN, "name": "Autumn Hughes...              NaN
...                                                 ...              ...
1166  [{"employee_code": NaN, "name": NaN}, {"employ...              NaN
1167  [{"employee_code": NaN, "name": NaN}, {"employ...              NaN
1185  [{"employee_code": "2029", "name": "Vivian Joh...          Chennai
1186  [{"employee_code": "2029", "name": "Vivian Joh...          Chennai
1187  [{"employee_code": "2029", "name": "Vivian Joh...          Chennai

             Bill_Date              Bill_No Total_Price
3           17-01-2024               01_142        3941
8           09-01-2024                 01_3         896
11          18-01-2024                 01_2        2392
12          09-01-2024                01_73         379
13          09-01-2024                01_73         379
...                ...                  ...         ...
1166        20-12-2024  2117201224024410000        1021
1167        20-12-2024  2117201224024410000        1021
1185  27-12-2024 00:00      20241227_165916        3638
1186  27-12-2024 00:00      20241227_165916        3638
1187  20-12-2024 00:00      193649043704089         409

[559 rows x 14 columns]

In [5]:
import pandas as pd

# Load the CSV file
file_path = "transformed_Bill.csv"  # Update with your actual file path
df = pd.read_csv(file_path)

# Group by employee_id and check unique counts for (name, designation)
duplicates = df.groupby("Employee ID")[["Employee Name"]].nunique()

# Identify Employee IDs where either Name or Designation is inconsistent
inconsistent_ids = duplicates[(duplicates["Employee Name"] > 1)].index

# Extract inconsistent rows
inconsistent_rows = df[df["Employee ID"].isin(inconsistent_ids)]

# Save the inconsistent records to a separate CSV file
output_file = "inconsistent_employees.csv"
inconsistent_rows.to_csv(output_file, index=False)

# Display results
if inconsistent_rows.empty:
    print("✅ All Employee IDs consistently match the same Employee Name and Designation.")
else:
    print(f"⚠️ Inconsistencies found! The affected records have been saved in '{output_file}'.")

⚠️ Inconsistencies found! The affected records have been saved in 'inconsistent_employees.csv'.

In [7]:
import pandas as pd

# Load CSV file
cleaned_df = pd.read_csv("Reimbursement_cleaned_data.csv")

# Remove rows where ALL columns are blank
df_cleaned = cleaned_df.dropna(how='all')

# Save cleaned dataset
df_cleaned.to_csv("Reimbursement_cleaned_data.csv", index=False)

print("Completely blank rows removed. Cleaned file saved as 'Reimbursement_Cleaned.csv'.")

Completely blank rows removed. Cleaned file saved as 'Reimbursement_Cleaned.csv'.

In [8]:
df_cleaned.shape

(786, 14)

In [10]:
df_cleaned.isna().sum()

Claim Date                    0
Employee Name                 0
Employee ID                   0
Designation                   0
Project Name                 80
Email address                 1
Total Persons                 0
Allowable Amount              0
Total Bill Amount             0
List of Persons (as JSON)    19
Seating Location             66
Bill_Date                     0
Bill_No                       2
Bill day                      0
dtype: int64

In [12]:
import pandas as pd
import json

# Load CSV file
df = pd.read_csv("Reimbursement_cleaned_data.csv")

# Function to count employee codes in JSON list
def count_persons(json_str):
    try:
        persons_list = json.loads(json_str)  # Convert JSON string to Python list
        return len(persons_list) if isinstance(persons_list, list) else 0
    except (json.JSONDecodeError, TypeError):  # Handle errors
        return 0

# Apply function to count persons and add to dataset
df['Computed_Total_Persons'] = df['List of Persons (as JSON)'].apply(count_persons)

# Check if Computed_Total_Persons matches Total Persons and add Mismatch column
df['Mismatch'] = df['Computed_Total_Persons'] != df['Total Persons']

# Save the updated dataset with Mismatch column
df.to_csv("Reimbursement_cleaned_data.csv", index=False)

print("Mismatch column added. Updated dataset saved as 'Reimbursement_Updated.csv'.")

Mismatch column added. Updated dataset saved as 'Reimbursement_Updated.csv'.