Merging jan data

In [13]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Jan-Sep).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_jan_sep.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID        Designation  \
0  18-01-2024 00:00   Alexander Cole        2080          Associate
1  15-01-2024 00:00   Miles Martinez        2017  Software Engineer
2  16-01-2024 00:00  Felicity Taylor        2078         Associate
3  19-01-2024 00:00  Savannah Taylor        1870    Engagement Lead
4  17-01-2024 00:00     Mabel Gibson        2008  Software Engineer

  Project Name            Email address  Total Persons  Allowable Amount  \
0          NaN   Alexander.Cole@xyz.com              1               400
1    Greenmath   Miles.Martinez@xyz.com             19              7600
2          GPC  Felicity.Taylor@xyz.com              1               400
3  edgeCore.ai  Savannah.Taylor@xyz.com             10              4000
4    greenMath     Mabel.Gibson@xyz.com              4              1600

   Total Bill Amount                          List of Persons (as JSON)  \
0                321  [{"employee_code": "2080", "name": "Alexander ...
1               7647  [{"employee_code": "2005", "name": "Zoe Sulliv...
2                380  [{"employee_code": "2078", "name": "Felicity T...
3               3941  [{"employee_code": "1870", "name": "Savannah T...
4               1700  [{"employee_code": "2008", "name": "Mabel Gibs...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-01-03", "Bill_No": "01_12...  Workafella, Chennai
1  [{"Bill_Date": "2024-01-02", "Bill_No": "01_37...            Bangalore
2  [{"Bill_Date": "2024-01-03", "Bill_No": "01_16...  Workafella, Chennai
3  [{"Bill_Date": "2024-01-17", "Bill_No": "01_14...  Workafella, Chennai
4  [{"Bill_Date": "2024-01-06", "Bill_No": "01_55...  Workafella, Chennai
Number of matched Employee IDs: 653

In [15]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Oct).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_oct.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID            Designation  \
0  21-10-2024 00:00       Abel Lopez        1959         People Partner
1  21-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
2  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
3  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist
4  10-10-2024 00:00  Savannah Taylor        1870  Senior Data Scientist

  Project Name            Email address  Total Persons  Allowable Amount  \
0           HR       Abel.Lopez@xyz.com              2               800
1  edgeCore.ai  Savannah.Taylor@xyz.com              6              2400
2  edgeCore.ai  Savannah.Taylor@xyz.com              2               800
3  edgeCore.ai  Savannah.Taylor@xyz.com              2               800
4  edgeCore.ai  Savannah.Taylor@xyz.com              2               800

   Total Bill Amount                          List of Persons (as JSON)  \
0              777.0  [{"employee_code": "1959", "name": "Abel Lopez...
1             2588.0  [{"employee_code": "1870", "name": "Savannah T...
2              882.0  [{"employee_code": "1870", "name": "Savannah T...
3              882.0  [{"employee_code": "1870", "name": "Savannah T...
4              882.0  [{"employee_code": "1870", "name": "Savannah T...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-10-10 00:00:00", "Bill_No...  Workafella, Chennai
1  [{"Bill_Date": "2024-10-18 00:00:00", "Bill_No...  Workafella, Chennai
2  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
3  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
4  [{"Bill_Date": "2024-10-04 00:00:00", "Bill_No...  Workafella, Chennai
Number of matched Employee IDs: 39

In [19]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Nov).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_nov.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID      Designation  \
0  21-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
1  21-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
2  30-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
3  30-11-2024 00:00  Savannah Taylor        1870  Engagement Lead
4        20-11-2024       Nia Thomas        2068    Data Engineer

         Project Name            Email address  Total Persons  \
0         edgeCore.ai  Savannah.Taylor@xyz.com              3
1         edgeCore.ai  Savannah.Taylor@xyz.com              3
2  edgeCore.ai / Bose  Savannah.Taylor@xyz.com              8
3  edgeCore.ai / Bose  Savannah.Taylor@xyz.com              8
4                   -       Nia.Thomas@xyz.com              5

   Allowable Amount Total Bill Amount  \
0              1200              2153
1              1200              2153
2              3200              6033
3              3200              6033
4              2000              2160

                           List of Persons (as JSON)  \
0  [{"employee_code": "1870", "name": "Savannah T...
1  [{"employee_code": "1870", "name": "Savannah T...
2  [{"employee_code": "1870", "name": "Savannah T...
3  [{"employee_code": "1870", "name": "Savannah T...
4  [{"employee_code": "2068", "name": "Nia Thomas...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-11-01 00:00:00", "Bill_No...  Workafella, Chennai
1  [{"Bill_Date": "2024-11-01 00:00:00", "Bill_No...  Workafella, Chennai
2  [{"Bill_Date": "2024-11-22 00:00:00", "Bill_No...  Workafella, Chennai
3  [{"Bill_Date": "2024-11-22 00:00:00", "Bill_No...  Workafella, Chennai
4  [{"Bill_Date": "15-11-2024", "Bill_No": 746142...  Workafella, Chennai
Number of matched Employee IDs: 56

In [18]:
import pandas as pd

# Load datasets
df1 = pd.read_csv("Reimbursement(Dec).csv")
df2 = pd.read_csv("employee_details.csv")

# Rename "Employee" column to "Employee ID" in df2
df2.rename(columns={"Employee": "Employee ID"}, inplace=True)

# Standardize Employee ID formatting (strip spaces)
df1["Employee ID"] = df1["Employee ID"].astype(str).str.strip()
df2["Employee ID"] = df2["Employee ID"].astype(str).str.strip()

# Convert Employee ID to consistent format (handling non-numeric values)
df1["Employee ID"] = pd.to_numeric(df1["Employee ID"], errors='coerce')  # convert to numeric, set errors to NaN
df1["Employee ID"] = df1["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

df2["Employee ID"] = pd.to_numeric(df2["Employee ID"], errors='coerce')  # same for df2
df2["Employee ID"] = df2["Employee ID"].fillna(0).astype("Int64").astype(str)  # fill NaNs with 0 and convert to string

# Merge on Employee ID
df_merged = df1.merge(df2[["Employee ID", "Seating Location"]], on="Employee ID", how="left")

# Save the updated dataset
df_merged.to_csv("merged_data_dec.csv", index=False)

# Debugging info
print(df_merged.head())

# Check how many matched Employee IDs
matched = df_merged["Seating Location"].notna().sum()
print(f"Number of matched Employee IDs: {matched}")

         Claim Date    Employee Name Employee ID      Designation  \
0  03-01-2025 00:00       Luca Allen        1957              STL
1  03-01-2025 00:00       Luca Allen        1957              STL
2  03-01-2025 00:00       Luca Allen        1957              STL
3  03-01-2025 00:00       Luca Allen        1957              STL
4  30-12-2024 00:00  Savannah Taylor        1870  Engagement Lead

          Project Name            Email address  Total Persons  \
0  edgeCore, GreenMath       Luca.Allen@xyz.com             10
1  edgeCore, GreenMath       Luca.Allen@xyz.com             10
2  edgeCore, GreenMath       Luca.Allen@xyz.com             10
3  edgeCore, GreenMath       Luca.Allen@xyz.com             10
4          edgeCore.ai  Savannah.Taylor@xyz.com             11

   Allowable Amount  Total Bill Amount  \
0              4000             4863.0
1              4000             4863.0
2              4000             4863.0
3              4000             4863.0
4              4400             5506.0

                           List of Persons (as JSON)  \
0  [{"employee_code": "1957", "name": "Luca Allen...
1  [{"employee_code": "1957", "name": "Luca Allen...
2  [{"employee_code": "1957", "name": "Luca Allen...
3  [{"employee_code": "1957", "name": "Luca Allen...
4  [{"employee_code": "1870", "name": "Savannah T...

                                                Bill     Seating Location
0  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
1  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
2  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
3  [{"Bill_Date": "2025-01-03 00:00:00", "Bill_No...     Bhive, Bangalore
4  [{"Bill_Date": "2024-12-27 00:00:00", "Bill_No...  Workafella, Chennai
Number of matched Employee IDs: 38

Combine all the merged datasets

In [20]:
import pandas as pd

# Load your datasets for each month
df_jan = pd.read_csv("merged_data_jan_sep.csv")  # January data
df_oct = pd.read_csv("merged_data_oct.csv")  # October data
df_nov = pd.read_csv("merged_data_nov.csv")  # November data
df_dec = pd.read_csv("merged_data_dec.csv")  # December data

# List all datasets to combine
dfs = [df_jan, df_oct, df_nov, df_dec]

# Concatenate datasets vertically (row-wise)
df_combined = pd.concat(dfs, ignore_index=True)

# Save the combined dataset
df_combined.to_csv("Reimbursement_combined.csv", index=False)

# Display the combined dataset (for verification)
print(df_combined.head())

         Claim Date    Employee Name  Employee ID        Designation  \
0  18-01-2024 00:00   Alexander Cole         2080          Associate
1  15-01-2024 00:00   Miles Martinez         2017  Software Engineer
2  16-01-2024 00:00  Felicity Taylor         2078         Associate
3  19-01-2024 00:00  Savannah Taylor         1870    Engagement Lead
4  17-01-2024 00:00     Mabel Gibson         2008  Software Engineer

  Project Name            Email address  Total Persons  Allowable Amount  \
0          NaN   Alexander.Cole@xyz.com              1               400
1    Greenmath   Miles.Martinez@xyz.com             19              7600
2          GPC  Felicity.Taylor@xyz.com              1               400
3  edgeCore.ai  Savannah.Taylor@xyz.com             10              4000
4    greenMath     Mabel.Gibson@xyz.com              4              1600

  Total Bill Amount                          List of Persons (as JSON)  \
0               321  [{"employee_code": "2080", "name": "Alexander ...
1              7647  [{"employee_code": "2005", "name": "Zoe Sulliv...
2               380  [{"employee_code": "2078", "name": "Felicity T...
3              3941  [{"employee_code": "1870", "name": "Savannah T...
4              1700  [{"employee_code": "2008", "name": "Mabel Gibs...

                                                Bill     Seating Location
0  [{"Bill_Date": "2024-01-03", "Bill_No": "01_12...  Workafella, Chennai
1  [{"Bill_Date": "2024-01-02", "Bill_No": "01_37...            Bangalore
2  [{"Bill_Date": "2024-01-03", "Bill_No": "01_16...  Workafella, Chennai
3  [{"Bill_Date": "2024-01-17", "Bill_No": "01_14...  Workafella, Chennai
4  [{"Bill_Date": "2024-01-06", "Bill_No": "01_55...  Workafella, Chennai

Extracted the Json values in the Bill column based on the keys

In [3]:
import pandas as pd
import json

# Load CSV file
df = pd.read_csv("Reimbursement_combined.csv")  # Replace with your actual filename


# Convert 'Bill' column from string to a list of dictionaries
df["Bill"] = df["Bill"].apply(lambda x: json.loads(x)[0])  # Extract first dictionary

# Expand JSON columns
df_expanded = df["Bill"].apply(pd.Series)

# Merge with original data (if needed) and remove the original 'Bill' column
df_final = df.drop(columns=["Bill"]).join(df_expanded)

# Save to a new CSV file
df_final.to_csv("transformed_Bill.csv", index=False)

print("File saved as transformed_Bill.csv")

File saved as transformed_Bill.csv

Seating location

In [10]:
df = pd.read_csv("transformed_Bill.csv")
df['Seating Location'] = df['Seating Location'].replace('Workafella, Chennai', 'Chennai')
df['Seating Location'] = df['Seating Location'].replace('Bhive, Bangalore', 'Bangalore')
df.to_csv("transformed_Bill.csv", index=False)